
div.ext-box
{
	display: table; 
	width: 100%;
}
div.int-box
{
	float: left; 
	display: table-cell; 
	width : 150px;
	vertical-align: left;
	padding: 75px 20px 100px 20px; 
}
div.ring
{
	padding: 20px 0 20px 0;
	height : 175px;
}

div.chart
{
	padding: 0px 20px 20px 20px;
	height : 525px;
	text-align: center;
	float: left;
}
